## Segmenting and Clustering Neighborhoods in Toronto - Part 2
## Using a realiable Source to obtain Latitude and Longitued of the Toronto Neighborhoods

In [4]:
#importing libraries
import pandas as pd
import os

In [5]:
#import and create the dataframe
url='https://cocl.us/Geospatial_data/Geospatial_Coordinates.csv'
df_geo=pd.read_csv(url)
df_geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [6]:
#uploading the Part 1 dataframe
df1=pd.read_csv('df1.csv')
df1.head()

   Unnamed: 0 Postal Code      Borough                           Neighbourhood
0           0         M1B  Scarborough                          Malvern, Rouge
1           1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2           2         M1E  Scarborough       Guildwood, Morningside, West Hill
3           3         M1G  Scarborough                                  Woburn
4           4         M1H  Scarborough                               Cedarbrae

## Create the dataframe as shown on the assignment instructions page

In [7]:
#Merge the tables to one dataframe
df2 =pd.merge(df1,df_geo, on = 'Postal Code')
df2.head(12)

,Unnamed: 0,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
5,5,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
6,6,M1K,Scarborough,"Kennedy Park, Ionview, East Birchmount Park",43.727929,-79.262029
7,7,M1L,Scarborough,"Golden Mile, Clairlea, Oakridge",43.711112,-79.284577
8,8,M1M,Scarborough,"Cliffside, Cliffcrest, Scarborough Village West",43.716316,-79.239476
9,9,M1N,Scarborough,"Birch Cliff, Cliffside West",43.692657,-79.264848
10,10,M1P,Scarborough,"Dorset Park, Wexford Heights, Scarborough Town...",43.757410,-79.273304
11,11,M1R,Scarborough,"Wexford, Maryvale",43.750072,-79.295849

## Using the shape method to confirm the number of rows in the dataframe

In [8]:
#checking the shape of the dataframe
df2.shape

(103, 6)

In [9]:
#Saving the data for use in Part 3
df2.to_csv('Capstone_part2.csv', index=False)
print ('Successfully Saved :)')

Successfully Saved :)